/* :root {
} */

head, body {
    margin: 0px;
}

#main-content {
    display: flex;
}


#library {
    display: flex;
    flex-direction: column;
}

#bookshelf {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border: 5px solid black;
}

