/* :root {
} */

head, body {
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Index Styles */

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#library {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bookshelf {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
}

.book {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
}

/* Add New Book page styles */




